* {
    font-size: 1.2rem;
}

.section{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 1rem 2rem 2rem 2rem;
    border-bottom: solid 2px #050526;
}
.section:nth-of-type(odd){
    background-color: #f8f8f8;
}
.section:nth-of-type(even){
    background-color: #d8dadf;
    border-bottom: solid 2px #050526 !important;
}
.section:last-child{
    border-bottom: none;
}

a:link{
    color: #050526;
}
a{
    color: #050526;
}

.project{
    background-color: #9b9ccb;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 2rem;
}

.bigtext{
    font-size: 1.7rem;
    font-weight: 500;
}
.bigtext > * {
    font-size: 1.7rem;
    font-weight: 500;
}

.skill{
    background-color: #9fb4ff;
    font-size: 1rem;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    border: solid 2px black;
    padding: 1px 8px;
    text-align: center;
    font-weight: bold;
    border-radius: 4px 10px 4px 10px;
    color: #46405c;
}

html, body{overflow-x: hidden;}