* {
    font-size: 1.2rem;
}

.box{
    background-color: #d8dadf;
    border-radius: 3px;
    padding: .5rem 2rem 2rem 2rem;
    margin: 2px;
    border: solid 2px #050526;
}

a:link{
    color: #050526;
}