{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 align="center">Arian Alavi</h1>
                <div class="row">
                    <div class="col-sm-12">
                        <ul>
                            <li><b>Full stack developer</b> with 4+ years of experience</li>
                            <li>Studying BS in Applied Mathematics at UC Santa Barbara</li>
                            <li>Countless personal projects (see below!)</li>
                            <li>Leadership experience</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="{% static 'main/home.jpg' %}" alt="Image of Arian Alavi on a hike" style="border-radius: 6px; border: solid 3px black; width: 100%;">
                <small>I also enjoy being in nature. I often hike the mountains near me and occasionally go backpacking. You can read more on <a href="{% url 'interests' %}">my interests page</a>.</small>
            </div>
        </div> 
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="row">
            <h2 align="center">Education</h2>
            <p> [In Progress] <b>BS in Applied Mathematics</b> at UC Santa Barbara (2017-2022) [3.46 GPA]</p>
            <p style="margin-left: 1rem;">Additionally, I have taken the following relevant classes...</p>
            <ul style="margin-left: 3rem; list-style-position: inside;">
                <li><b>Computer Science</b>: Data Structures and Algorithms, Numerical Analysis, Discrete Structures, Structure and Interpretation of Computer Programs, Assembly Language, and Software</li>
                <li><b>Business/Economics</b>: Intro to Business, Financial Accounting, Decision Analysis & Management, Intermediate Macroeconomics </li>
            </ul>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
                <h2 align="center">Work Experience</h2>
                <p>While unusual these days, I've stayed with a single company, Innova Global, since 2017 (as an intern) and since 2018 (as a programmer). In fact, it's the only company I've worked for.
                <div style="float: right" class="bigtext">
                    <a href="https://www.innovaglobal.com/" target="_blank">Innova Global</a> / <a href="https://www.innovaaccelerator.com/" target="_blank">Innova Accelerator</a>
                </div>
                <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6 col-lg-6"><h4 style="margin-bottom: 0px;">Lead Full Stack Developer</h4><div></div><h5 style="margin-top: 0px;">[2018-Present]</h5>
                    <!-- <img src="{% static 'main/innova_accelerator.jpg' %}" style="width: 4rem; height: 4rem; display: inline-block;"></a>
                    <img src="{% static 'main/innova_global.jpg' %}" style="width: 4rem; height: 4rem; display: inline-block;"></a> -->
                </div>
                    <div class="col-sm-6 col-lg-6">Innova Global is a network cabling installation company that has been in business for 30+ years. Innova Accelerator provides business acceleration resources in order to increase the efficiency of businesses, with a focus on marketing.</div>
                </div>
            </div>
        </div>
        <div class="row"style="margin-top: 10px;">
            <h4>Technologies Used</h4>
            <div class="row">
                <div class="col-sm-6">
                    <ul>
                        <li>Python: Django, Selenium</li>
                        <li>jQuery</li>
                        <li>REST, Google APIs</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li>AWS</li>
                        <li>Nginx</li>
                        <li>.yaml continuous integration</li>
                    </ul>           
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <h4>Responsibilities</h4>
            <p>
                Early on at Innova Global, I was tasked with developing bots. These bots mainly; scraped websites, tracked SEO progress, and generated websites. However, for the past ~3 years, my main responsibility has been the development and maintenance of eCore. This entails developing new features and instructing junior developers.
            </p>

            <h4>eCore</h4>

            <div>
                <div class="d-none d-md-block d-lg-none">
                    <img style="width: 100%;" src="{% static 'main/eCore/project.png' %}">
                </div>
                <div class="d-md-none d-lg-block">
                    <img style="width: 400px;" src="{% static 'main/eCore/project.png' %}">
                    <img style="width: 400px;" src="{% static 'main/eCore/associate.png' %}" >
                    <img style="width: 400px;" src="{% static 'main/eCore/formCreation.png' %}">
                    <img style="width: 400px;" src="{% static 'main/eCore/planner.png' %}">
                </div>
            </div>

            <p>
                eCore is a mixed CRM/ERP tool which all Innova Global/ Innova Accelerator staff use daily in order to keep track of projects, clients, and subcontractors. 
            </p>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <h2 align="center">Projects</h2>
            <p>I genuinely enjoy programming and often have one or two projects running at every given moment. Here are some completed projects I would like to share...</p>
            {% include 'main/project.html' %}
            {% include 'main/project.html' %}
        </div>
    </div>
</div>

{% endblock content %}