{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
        <h1 align="center">Arian Alavi</h1>
        <div class="row">
            <div class="col-sm-1 col-lg-3"></div>
            <div class="col-sm-10 col-lg-6">
                <ul>
                    <li>Full stack developer with 4+ years of experience</li>
                    <li>Studying BS In Applied Mathematics from UC Santa Barbara</li>
                    <li>Countless personal projects (see below!)</li>
                    <li>Leadership experience</li>
                </ul>
            </div>
            <div class="col-sm-1 col-lg-3"></div>
        </div>
    </div>
    <div class="col-sm-6">
        <img src="{% static 'main/home.jpg' %}" alt="Image of Arian Alavi on a hike" style="border-radius: 6px; border: solid 3px black; width: 100%;">
        <small>I also enjoy being in nature. I often hike the mountains near me and occasionally do backpacking. You can read more on the "Interests" [TODO](put a link to the interests page here) page.</small>
    </div>
</div>

<h5 align="center">Here you will find; my projects, my experiences, and my contact information</h5>
{% endblock content %}