
<div class="project">
    <div class="row">
        <div class="col-sm-6">
            <div>
                {% for skill in project.skillsUsed.all %}
                <div class="skill" title="{{skill.name}}">{{skill.name}}</div>
                {% endfor %}
            </div>
            <div>{% if project.link %}<a href="{{project.getLink}}">{% endif %}<h5>{{project.name}}</h5>{% if project.link %}</a>{% endif %}</div>
            <small>{{project.presentDate}}</small>
            <p>{{project.description|safe}}</p>

        </div>
        
        <div class="col-sm-6">{% if project.image %}<img src="{{project.image.url}}" style="max-height: 600px; object-fit: contain; float: right; max-width: 100%;">{% endif %}</div>
    </div>
</div>