name: Break Things
on:
  push:
    branches: [main]

jobs:
  update_server:
    name: Update Server
    runs-on: ubuntu-latest
    steps:
      - name: Pull Changes
        uses: appleboy/ssh-action@master
        with:
          host: 3.18.63.227
          username: ubuntu
          key: ${{ secrets.PEM }}
          port: 22
          script: |
            cd ArianAlaviWebsite
            git pull
      - name: Compile Backend
        uses: appleboy/ssh-action@master
        with:
          host: 3.18.63.227
          username: ubuntu
          key: ${{ secrets.PEM }}
          port: 22
          script: |
            cd ArianAlaviWebsite
            source env/bin/activate
            pip install -r requirements.txt && echo Migrating from database now... && python manage.py migrate && python manage.py collectstatic --noinput